﻿<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MySite</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<ul class="nav flex-column bg-dark" style="height:100%;">
    <li class="nav-item">
        <a class="nav-link @activeLinkOne" href="" @onclick="() => ChangeActive(1)">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @activeLinkTwo" href="counter" @onclick="() => ChangeActive(2)">Counter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @activeLinkThree" href="weather" @onclick="() => ChangeActive(3)">Weather</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

@code {
    public string activeLinkOne = "active";
    public string activeLinkTwo = "";
    public string activeLinkThree = "";

    private void ChangeActive(int linkNumber)
    {
        if (linkNumber == 1)
        {
            activeLinkOne = "active";
            activeLinkTwo = "";
            activeLinkThree = "";
        }
        else if (linkNumber == 2) 
        {
            activeLinkOne = "";
            activeLinkTwo = "active";
            activeLinkThree = "";
        }
        else if (linkNumber == 3)
        {
            activeLinkOne = "";
            activeLinkTwo = "";
            activeLinkThree = "active";
        }
    }
}