<div class="modal" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input @bind-value=Username type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input @bind-value=Password type ="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {
    public string Username = "";
    public string Password = "";
    public string ModalDisplay = "block";
    public bool ShowBackdrop = true;

    /*
    public void Open()
    {
        ModalDisplay = "block";
        ShowBackdrop = true;
        StateHasChanged();
    }
    */

    public void Close()
    {
        ModalDisplay = "none";
        ShowBackdrop = false;
        StateHasChanged();
    }
}