@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MySite.Components.LoginModal @ref="Modal"></MySite.Components.LoginModal>

<button @onclick="() => Modal.Open()">Open Modal</button>

@code {
    private MySite.Components.LoginModal Modal { get; set; }
}
